li a {
    color: lightslategray;
}

body {
    background-image: url("images/Copy\ of\ Copy\ of\ Copy\ of\ Copy\ of\ Copy\ of\ Copy\ of\ Copy\ of\ Copy\ of\ Copy\ of\ Copy\ of\ Copy\ of\ Copy\ of\ Copy\ of\ Copy\ of\ Copy\ of\ Copy\ of\ the\ Copy\ of\ Project\ -\ Drawing\ 2660134128.png");
   
}

ul {
    position: relative;
    padding: 50px;
}
